body {
    width: 100%;
    text-align: center;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック","Yu Gothic" ;
}

header {
    /* background: white; */
    background: rgb(175, 138, 69);
    width: 100%;
    height: 150px; 
    display: flex; 
    position: relative;
}

header div {
    height: 100%;  
    position: absolute;
}

.header-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headlogo {
    margin-left: 40px;
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.header-right {
    left: 100%;
    display: flex;
    justify-content: flex-end;
}



/* ここから下がハンバーガーメニューに関するCSS */
  
/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 7px;
    width: 65px;
    border-radius: 7px;
    /* background: #333; */
    background: black;
    transition: 0.5s;
    position: absolute;
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 25px;
  }
 
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 25px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  /* #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  } */
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  /* #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  } */
  
  /* #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  } */

  /* メニューのデザイン*/
  .nav_content {
    width: 20%;
    height: 30%;
    right: 0;
    position: fixed;
    /* left: 100%;  */
    z-index: 99;
    background: rgba(117, 117, 117, 0.9);
    border: 2px solid black;
    transition: .5s;
    display: none;
  }
  
  /* メニュー */
  .nav_list {
    top: 150px;
    width: 100%;
    /* top: 250px; */
    color: black;
    margin-top: 45px;
    font-size: x-large;
    font-weight: bold;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: start;
    /* text-decoration: none; */

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav_list h2 {
      margin-left: 30px; 
      font-size: xx-large;
      font-weight: bold;
  }

  .nav_item {
    margin-left: 20px;
    text-decoration: none;
  }

  .nav_item a {
    text-decoration: none;
    color: white;
    transition: color, 1.0s;
  }

  .nav_item a:hover {
    color: rgb(255, 181, 43);
  }
  
  /* アイコンがクリックされたらメニューを表示 */
  /* #drawer_input:checked ~ .nav_content {
    left: 70%;
  } */


/* main begins----------------------------------------------------------------- */

.main1 {
    background-image: url("maintop.png");
    background-size: cover;
    /* background-attachment: fixed; */
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    animation-name: maintop;
    animation-duration: 4.0s;
    animation-timing-function:ease-in-out;
    animation-direction:normal;

}

.main1 div {
    width: 70%;
    height: 430px;
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.greeting {
    /* margin: 0 100px; */
    font-size: 50px;
    font-weight: nomal;
    letter-spacing: 0.2em;
    line-height: 90px;
    text-indent: 0.5em; 
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: start;
    animation-name: fadeIn;
    animation-duration: 5.0s;
    animation-timing-function:ease-in-out;
    animation-direction:normal;

}

@keyframes maintop{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 780px) {
    .main1 div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .greeting {
        text-align: center;
    }
} 

/* profile ----------------------------------------------------------------------*/
.main2-1 { 
    color: black;
    height: 1100px;
    background: white;
}

.profile {
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;

}

.profile div {
   margin-top: 200px;
}

.portfolio {
    width: 300px;
    height: 400px;
    margin-left: 100px;
    background-image: url("portfolio.JPG");
    background-size: cover;
}

.intro-text {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.intro {
    height: 600px;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.12em;
    line-height: 40px;
    text-indent: 1.0em; 
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: start;
}

/* works section */

.main2 {
    background-image: url("woods.png");
    background-size: cover;
    /* background-attachment: fixed; */
    height: 1000px;
}

.artwork {
    background: rgba(255,255,255,0.6);
    height: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

.artwork h1 {
    /* margin-right: 100px; */
    width: 200px;
    height: 600px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-align: center;
    font-size: 550%;
    padding-top: 7px;
    margin: auto 0; 
}



.square {
    background-size: cover;
}

.kitties {
    background-image: url("kitties.png");
    width: 720px;
    height: 480px;
    margin-top: 200px;
    cursor: pointer;
}

.animalF {
    background-image: url("animalF.png");
    width: 350px;
    height: 350px;
    margin-top: 550px;
    cursor: pointer;

}

.stool {
    background-image: url("stool.png");
    width: 400px;
    height: 300px;
    margin-top: 300px;
    cursor: pointer;
}

.books {
    background-image: url("bookman.png");
    width: 350px;
    height: 250px;
    margin-top: 400px;
    cursor: pointer;
}




/* movie section */
.main2-3 {
    height: 1000px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main23box { 
    margin: 0 auto;
    width: 90%;
    height: 800px;
    /* background:rgb(170, 89, 89); */

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rogoku1 {
    /* background: gray; */
    width: 40%;
    height: 800px;
    margin: auto 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.moji {
   margin: 0 auto;
   width: 100%;
   height: 50%;
  
   font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.12em;
    line-height: 40px;
    text-indent: 1.0em; 
   -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: start;
    font-size: large;
}

.tanko {
   margin: 100px auto 0 auto;
   background-image: url("bag.JPG");
   background-size: cover;
   width: 400px;
   height: 800px;
}

.rogoku2 {
   /* background: blue; */
   width: 50%;
   height: 700px;
   margin: auto 0;
   
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.rogoku2 iframe {
    margin: 80px;
}

.rogoku2 h2 {
    font-size: 500%;
    line-height: 110px;
    text-align: start;
}

/* SUZURI */
.main3 {
    width: 100%;
    height: 1100px;
    background: rgb(175, 138, 69);
     -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: start;
   
    /* font-size: large; */
}

.main3 h1 {
    font-size: 500%;
    line-height: 200px; 
    margin-top: 50px;
   
}

.main3 h2 {
    font-size: 750%;
    margin-top: 150px;

    /* line-height: px; */
}

.tora {
    width: 600px;
    height: 800px;
    margin-right: 200px;
    background-image: url("card.JPG");
    background-size: cover;
}

.torabun {
    margin: 200px;
    padding-top: 100px;

    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.12em;
    line-height: 50px;
    text-indent: 1.0em; 
   -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: start;
    font-size: large;
}


/* message section */

.main4 {
    background-image: url("bookman.png"); 
    background-size: cover;   
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.main4 h1 {
    font-size: 400%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.input {
    display: flex;
    justify-content: space-around;
}

.input p {
    margin: 20px;
    font-size: 150%;
    font-weight: bold;
    padding-top: 10px;
}

.name, .email {
    width: 500px;
    height: 50px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.message {
    padding-top: 5px;
    width: 500px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.submit {
    width: 200px;
    height: 50px;
    background-color: rgb(179, 110, 110);
    border: 1px solid black;
    font-size: 200%;
    font-weight: bold;
    border-radius: 5px;
}

@media screen and (max-width: 780px) {
    .input {
        flex-direction: column;
    }
    
    .input p {
        margin: 10px 0 10px 150px;
        padding-top: 0;
        text-align: left;
    }
    
    .name, .email {
        margin: 0 auto;
    }
    
    .message {
        padding-top: 0;
        margin: 20px auto;
        border-radius: 10px;
    }
    
    .submit {
        width: 200px;
        height: 50px;
        background-color: skyblue;
        border: 1px solid black;
        font-size: 200%;
        font-weight: bold;
        border-radius: 5px;
    }
}

/* footer begins */
footer {
    height: 60px;
    background-color: white;
    color: black;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}